﻿
@*@using VIdlyMain.Models
@using VIdlyMain.ViewModel*@


 <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*@{ 

        var movie = new Movie() { Name = "Shrek!" };
        var customers = new List<Customer>
            {
                new Customer()
                {
                    Name="Customer1"
                },
                new Customer()
                {
                    Name="Customer2"
                }

            };


        var viewModel = new RandomMovieViewModel()
        {
            Customers = customers,
            Movie = movie

        };

    }*@

</head>
<body>
    @*@Html.Partial("_NavBar", viewModel.Movie)*@
    @Html.Partial("_NavBar")
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/GlobalHandler/GlobalHandler.js"></script>
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @Scripts.Render("~/bundles/jqueryval")
   

    @RenderSection("scripts", required: false)
</body>
</html>
