﻿@model VIdlyMain.ViewModel.CustomerViewModel

@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New</h2>
<script src="~/Scripts/jquery-1.12.4.js"></script>
@using (Html.BeginForm("Save", "Customer", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Customer</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
           @Html.LabelFor(model => model.Customer.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Customer.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Customer.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Customer.BirthDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Customer.BirthDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Customer.BirthDate, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.Customer.MembershipTypeId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Customer.MembershipTypeId, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownListFor(m => m.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Membership", new { @class = "form-control" })

            </div> 
        </div>


        <div class="form-group">
            @*@Html.LabelFor(model => model.IsSubcribedToNewsLetter, htmlAttributes: new { @class = "control-label col-md-2" })*@
           
                @*<div class="checkbox">*@

                @Html.Label("Subcribed To NewsLetter?", htmlAttributes: new { @class = "control-label col-md-2" })
               
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.Customer.IsSubcribedToNewsLetter, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Customer.IsSubcribedToNewsLetter, "", new { @class = "text-danger" })
                @*</div>*@
            </div>
        </div>

        @Html.HiddenFor(x=>x.Customer.Id)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@section scripts{


<script src="~/Scripts/AddCustomer/Customer.js"></script>

}

