﻿@model VIdlyMain.Models.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayFor(model => model.Name)

            @*@Html.DisplayNameFor(model => model.Name*@
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.BirthDate.Value.ToString("dd-mm-yyyy"))*@
             @Model.BirthDate.Value.ToString("dd-mm-yyyy")
        </dd>

    </dl>
</div>
<p>
   
    @Html.ActionLink("Back to List", "Index")
</p>
