﻿@*@model IEnumerable<VIdlyMain.Models.Customer>*@

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View</h2>

<div>
    <h4>Customers</h4>
    <hr />

    <p>
        @Html.ActionLink("New Customer", "New", "Customer", null, new { @class = "btn btn-primary" })
    </p>
   @*@foreach (var item in Model)
   {


<p>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayFor(modelItem => item.Id)
        </dt>

        <dd>
            @Html.DisplayFor(x => item.Name)
        </dd>

    </dl>
   }
</div>*@


    @*@if(!Model.Any())
    {
        <p>We don't have any customer yet </p>
    }

    else

    {

        <table id="customers" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Customer</th>
                    <th>Membership Type</th>
                    <th>Delete</th>
                </tr>
            </thead>


            
                @foreach (var customer in Model)
                {
                    <tr>

                        <td>
                            @Html.ActionLink(customer.Name, "Edit", new { id = customer.Id })

              
                        </td>

                        <td>
                            @customer.MembershipType.Name
                        </td>
                        <td><button data-customer-id="@customer.Id" class="btn-link js-delete">Delete</button></td>

                    </tr>
                }
           
</table>
    }*@


    <table id="customers" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Membership Type</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

</div>


    @section scripts{

    <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap.js"></script>
<script>
    $(function () {
        

        //$("#customers").DataTable();

       var customerTable= $("#customers").DataTable({
           
            ajax: {
                url: "/api/customer/",
                method:"Get",
                dataSrc: ""
            },
            columns: [
             {
                    data: "name",
                render: function (data, type, customer) {
                    return "<a href='/customers/edit/" + customer.id + "'>" + customer.name + "</a>";
                }
            },

            {
                data: "membershipType.name",

             },
              {
                    data: "id",
                    render: function (data, type, customer) {
                        return "<button class='btn-link js-delete' data-customer-id=" + data+"> Delete</button > ";
                    }
              }]


        });




        //$("#customers .js-delete").on("click", function () {

            $("#customers").on("click",".js-delete", function () {
            var button = $(this);
            if (bootbox.confirm("Are you sure you want to delete this customer?", function (result) {
                if (result) {

                    $.ajax({
                        url: "/api/customer/" + button.attr("data-customer-id"),
                        method: "DELETE",
                        success: function () {
                            customerTable.row(button.parents("tr")).remove().draw();
                            //button.parents("tr").remove();
                        }

                    })
                }


            }));
           
        })

           


    });



        </script>

    }