﻿@model IEnumerable<VIdlyMain.Models.Movie>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

<p>
    @Html.ActionLink("New Movie", "Create", "Movies",new object { }, new { @class= "btn btn-primary" })
</p>





<table class="table">
    <tr>
        <th>
            Movie
            @*@Html.DisplayNameFor(model => model.Name)*@
        </th>
        

        <th>Genre</th>
    </tr>


    @if (!Model.Any())
    {
        <tr>
            <td colspan="2">
                No Rows found
            </td>
        </tr>
    }
    else

    {

foreach (var item in Model)
{
    <tr>
        <td>
            

           @Html.ActionLink(item.Name, "Edit", new  {id=item.Id })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre.Name)

            @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
        </td>
    </tr>
}
    }
</table>


