﻿@model IEnumerable<VIdlyMain.Models.Movie>

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

<table id="movies" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Movie</th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
@section scripts
{
    <script>
        $(document).ready(function () {
            $.fn.dataTable.ext.errMode = 'none';
            //$.fn.dataTable.ext.errMode = 'alert ';
            //$.fn.dataTable.ext.errMode = 'throw';
            var table = $("#movies").DataTable({
                ajax: {
                    url: "/Movies/GetMovies",
                    dataSrc: "",
                    cache: true
                },
                columns: [
                    {
                        data: "name"
                    },
                    {
                        data: "genre.name"
                    }
                ]
            });
        });
    </script>
}
