﻿ @model VIdlyMain.ViewModel.RandomMovieViewModel 

@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>@Model.Name</h2>*@


@*<h2>@{ ((movie)viewdata["movie"]).name}</h2>*@


<h2 class="popular">@Model.Movie.Name</h2>


@if (Model.Customers.Count == 0)
{
<p>No One has rented this movie before</p>
}
else
{ 
<tr>


    @foreach (var customer in Model.Customers)
    {

        <td>@customer.Name</td>
    }

</tr>
}