﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Bootstrap overides*/
.form-control
{
    width:50%;
}




.input-validation-error{
    border:2px solid #ff0000;
}

.gigs > li {
    position: relative;
    margin-bottom: 30px;
}

/*.tableSAMPLE > th {
    
    color: red !important;
}*/

table > tr > th:nth-child (2) {
    font-weight: bold;
}


